<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Join Pokébot on Slack!</title>
	<link href="css/app.css" rel="stylesheet" type="text/css">
	<link href="css/foundation.css" rel="stylesheet" type="text/css">
	<link href="css/foundation-flex.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic|Open+Sans:700italic,400,600,300,700,800" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="row">
		<div class="small-12 small-centered large-6 columns">
			<form method="POST" action="/invite" id="join-form" class="form">
				<div class="signup-panel">
					<h3 class="welcome">Welcome to Pokébot!</h3>
					<div class="row collapse">
						<div class="input-group">
							<span class="input-group-label">Email:</span>
							<input class="input-group-field" type="text" name="email" id="slack-email">
						</div>
					</div>
					<% if (tokenRequired) { %>
					<div class="row collapse">
						<div class="input-group">
							<span class="input-group-label">Passcode:</span>
							<input class="input-group-field" type="password" name="token" id="slack-token">
						</div>
					</div>
					<% } %>
					<div class="row collapse">
						<button type="submit" class="button secondary expanded" value="Submit">Sign me up!</button>
					</div>
					<div class="row collapse">
						<p class="text-center">Already have an account? <a href="https://pokebot.slack.com">Start playing &raquo</a></p>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>